<?xml version="1.0" encoding="ISO-8859-1"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gero.feriapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:configChanges="locale">
        <activity
            android:name=".Inicio"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Hoteles"
            android:label="@string/title_activity_hoteles"
            android:parentActivityName="com.example.gero.feriapp.Inicio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gero.feriapp.Inicio" />
        </activity>
        <activity
            android:name=".ActividadDetalle"
            android:label="@string/title_activity_reinas"
            android:parentActivityName="com.example.gero.feriapp.Inicio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gero.feriapp.Inicio" />
        </activity>
        <activity
            android:name=".clasesHRD.ActividadHRD"
            android:label="@string/title_activity_reinas"
            android:parentActivityName="com.example.gero.feriapp.Inicio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gero.feriapp.Inicio" />
        </activity>

        <!-- Plugin para twitter -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e1a89039a6bd59f9f4d19f3acf078bc35857de24" />
    </application>

    <!-- Permisos Android para internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
